@font-face {
  font-family: "Champagne_Limousines";
}

body{
  margin: 0;
  font-family: "Champagne_Limousines";
  font-size: 28px;
  background-color: #ffffff;
}

.watermark__wrapper {
  display: none;
}

.header{
  text-align: center;
  background-color: #000000;
  height: 500px;
  width: 100%;
  display: flex;
}

.header__link {
  position: relative;
  text-align: center;
  height: auto;
  width: 100%;
}

.header__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.center_menu{
  display: flex;
}

.imagens__todas {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu{
  display: table;      /* Required for table-cell to work on li's */
  padding: 0;          /* Override defaults for lists */
  margin: 0;           /* Override defaults for lists */
  width: 100%;         /* Get the row full width */
  text-align: center;  /* Centre align grid items */
  background-color: #3333cc;
}

.menu li{
  display: table-cell;   /* Get all images to show in a row */
  text-align: center;    /* Centre align the images */
  background-color: #00ff00;
}

.showcase__background {
  background-color: #ffb3b3;
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  display: table;      
}

.footer_info{
  display: table-cell;
  text-align: center;
}

@media (max-width: 600px) and (min-width: 101px) {
  .menu li { width: 50%; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 100px) {
  .menu li { width: 100%; } /* On small screens, show one logo per row */
}

@media (max-width: 600px) {
  .menu {
    display: block;
  }
  
  .menu li {
    display: inline-block;
  }
}

@media (max-width: 340px) {
  .footer {
    font-size: 24px;
  }
}

@media (max-width: 720px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}

@media print{
  .header{
    display: none;
  }
  .menu{
    display: none;
  }
  .watermark__wrapper {
    display: flex;
    position: relative;
    text-align: center;
    height: auto;
    width: 100%;
  }
  
  .watermark {
    position: absolute;
    height: 1000px;
    width: 1000px;
    margin-top: 200px;
    opacity: 0.3;
  }
}
